body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    height: 90vh;
    margin: 0;
    background-color: #222;
    color: #fff;
    padding: 10px; 
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; 
    justify-content: center;
    width: 100%;
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

video, canvas {
    width: fit-content;
    max-height: 30vh;
    height: auto;
    border: 0.5vh solid #ffffff;
    margin: 5px 0;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

button {
    flex: 1;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    max-width: 150px;
    width: 100%;
}
